body{
    font-family: Arial, Helvetica, sans-serif;
}

.onpage__gride ,.input__div{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.input__div{
    margin-bottom: 10px;
}

.style__todo,.style__duedate, .style__add__button, .onpage__gride div{
    font-size: 15px;
    padding: 10px 9px;
    align-items: center;
}

.style__add__button{
    color: aliceblue;
    background-color: green;
    border: none;
    text-transform: capitalize;
}

.style__delete__button{
    color: white;
    background-color: darkred;
    border: none;
    cursor: pointer;
}
.style__add__button{
    cursor: pointer;
}







